################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HubFactory/Properties/PublishProfiles
/HubFactory/Properties/ServiceDependencies
/ICICI/obj/project.nuget.cache
/ICICI/obj/project.assets.json
/ICICI/obj/ICICI.csproj.nuget.g.targets
/ICICI/obj/ICICI.csproj.nuget.g.props
/ICICI/obj/ICICI.csproj.nuget.dgspec.json
/ICICI/obj/Debug/netcoreapp3.1/ICICI.pdb
/ICICI/obj/Debug/netcoreapp3.1/ICICI.GeneratedMSBuildEditorConfig.editorconfig
/ICICI/obj/Debug/netcoreapp3.1/ICICI.dll
/ICICI/obj/Debug/netcoreapp3.1/ICICI.csproj.FileListAbsolute.txt
/ICICI/obj/Debug/netcoreapp3.1/ICICI.csproj.CoreCompileInputs.cache
/ICICI/obj/Debug/netcoreapp3.1/ICICI.csproj.CopyComplete
/ICICI/obj/Debug/netcoreapp3.1/ICICI.csproj.AssemblyReference.cache
/ICICI/obj/Debug/netcoreapp3.1/ICICI.assets.cache
/ICICI/obj/Debug/netcoreapp3.1/ICICI.AssemblyInfoInputs.cache
/ICICI/obj/Debug/netcoreapp3.1/ICICI.AssemblyInfo.cs
/ICICI/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ICICI/obj/Debug/netcoreapp3.1
/ICICI/obj
/ICICI/bin/Debug/netcoreapp3.1/ICICIConfig.json
/ICICI/bin/Debug/netcoreapp3.1/ICICI.pdb
/ICICI/bin/Debug/netcoreapp3.1/ICICI.dll
/ICICI/bin/Debug/netcoreapp3.1/ICICI.deps.json
/ICICI/bin/Debug/netcoreapp3.1/HubServices.pdb
/ICICI/bin/Debug/netcoreapp3.1/HubServices.dll
/ICICI/bin/Debug/netcoreapp3.1/BusinessEntities.pdb
/ICICI/bin/Debug/netcoreapp3.1/BusinessEntities.dll
/ICICI/bin/Debug/netcoreapp3.1
/ICICI
/HubLogger/obj/project.nuget.cache
/HubLogger/obj/project.assets.json
/HubLogger/obj/HubLogger.csproj.nuget.g.targets
/HubLogger/obj/HubLogger.csproj.nuget.g.props
/HubLogger/obj/HubLogger.csproj.nuget.dgspec.json
/HubLogger/obj/Debug/netcoreapp3.1/HubLogger.pdb
/HubLogger/obj/Debug/netcoreapp3.1/HubLogger.GeneratedMSBuildEditorConfig.editorconfig
/HubLogger/obj/Debug/netcoreapp3.1/HubLogger.dll
/HubLogger/obj/Debug/netcoreapp3.1/HubLogger.csproj.FileListAbsolute.txt
/HubLogger/obj/Debug/netcoreapp3.1/HubLogger.csproj.CoreCompileInputs.cache
/HubLogger/obj/Debug/netcoreapp3.1/HubLogger.csproj.CopyComplete
/HubLogger/obj/Debug/netcoreapp3.1/HubLogger.csproj.AssemblyReference.cache
/HubLogger/obj/Debug/netcoreapp3.1/HubLogger.assets.cache
/HubLogger/obj/Debug/netcoreapp3.1/HubLogger.AssemblyInfoInputs.cache
/HubLogger/obj/Debug/netcoreapp3.1/HubLogger.AssemblyInfo.cs
/HubLogger/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/HubLogger/obj/Debug/netcoreapp3.1
/HubLogger/obj
/HubLogger/bin/Debug/netcoreapp3.1/HubLogger.pdb
/HubLogger/bin/Debug/netcoreapp3.1/HubLogger.dll
/HubLogger/bin/Debug/netcoreapp3.1/HubLogger.deps.json
/HubLogger/bin/Debug/netcoreapp3.1/HUBDataFactory.pdb
/HubLogger/bin/Debug/netcoreapp3.1/HUBDataFactory.dll
/HubLogger/bin/Debug/netcoreapp3.1/BusinessEntities.pdb
/HubLogger/bin/Debug/netcoreapp3.1/BusinessEntities.dll
/HubLogger/bin/Debug/netcoreapp3.1
/HubLogger
/HubFactoryServices/obj/project.nuget.cache
/HubFactoryServices/obj/project.assets.json
/HubFactoryServices/obj/HubServices.csproj.nuget.g.targets
/HubFactoryServices/obj/HubServices.csproj.nuget.g.props
/HubFactoryServices/obj/HubServices.csproj.nuget.dgspec.json
/HubFactoryServices/obj/Debug/netcoreapp3.1/HubServices.pdb
/HubFactoryServices/obj/Debug/netcoreapp3.1/HubServices.GeneratedMSBuildEditorConfig.editorconfig
/HubFactoryServices/obj/Debug/netcoreapp3.1/HubServices.dll
/HubFactoryServices/obj/Debug/netcoreapp3.1/HubServices.csproj.FileListAbsolute.txt
/HubFactoryServices/obj/Debug/netcoreapp3.1/HubServices.csproj.CoreCompileInputs.cache
/HubFactoryServices/obj/Debug/netcoreapp3.1/HubServices.csproj.CopyComplete
/HubFactoryServices/obj/Debug/netcoreapp3.1/HubServices.csproj.AssemblyReference.cache
/HubFactoryServices/obj/Debug/netcoreapp3.1/HubServices.assets.cache
/HubFactoryServices/obj/Debug/netcoreapp3.1/HubServices.AssemblyInfoInputs.cache
/HubFactoryServices/obj/Debug/netcoreapp3.1/HubServices.AssemblyInfo.cs
/HubFactoryServices/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/HubFactoryServices/obj/Debug/netcoreapp3.1
/HubFactoryServices/obj
/HubFactoryServices/bin/Debug/netcoreapp3.1/HubServices.pdb
/HubFactoryServices/bin/Debug/netcoreapp3.1/HubServices.dll
/HubFactoryServices/bin/Debug/netcoreapp3.1/HubServices.deps.json
/HubFactoryServices/bin/Debug/netcoreapp3.1/BusinessEntities.pdb
/HubFactoryServices/bin/Debug/netcoreapp3.1/BusinessEntities.dll
/HubFactoryServices/bin/Debug/netcoreapp3.1
/HubFactoryServices
/HubFactory/obj/project.nuget.cache
/HubFactory/obj/project.assets.json
/HubFactory/obj/HubFactory.csproj.nuget.g.targets
/HubFactory/obj/HubFactory.csproj.nuget.g.props
/HubFactory/obj/HubFactory.csproj.nuget.dgspec.json
/HubFactory/obj/Debug/netcoreapp3.1/staticwebassets/HubFactory.StaticWebAssets.xml
/HubFactory/obj/Debug/netcoreapp3.1/staticwebassets/HubFactory.StaticWebAssets.Manifest.cache
/HubFactory/obj/Debug/netcoreapp3.1/staticwebassets
/HubFactory/obj/Debug/netcoreapp3.1/HubFactory.RazorTargetAssemblyInfo.cache
/HubFactory/obj/Debug/netcoreapp3.1/HubFactory.pdb
/HubFactory/obj/Debug/netcoreapp3.1/HubFactory.MvcApplicationPartsAssemblyInfo.cs
/HubFactory/obj/Debug/netcoreapp3.1/HubFactory.MvcApplicationPartsAssemblyInfo.cache
/HubFactory/obj/Debug/netcoreapp3.1/HubFactory.genruntimeconfig.cache
/HubFactory/obj/Debug/netcoreapp3.1/HubFactory.GeneratedMSBuildEditorConfig.editorconfig
/HubFactory/obj/Debug/netcoreapp3.1/HubFactory.dll
/HubFactory/obj/Debug/netcoreapp3.1/HubFactory.csproj.FileListAbsolute.txt
/HubFactory/obj/Debug/netcoreapp3.1/HubFactory.csproj.CoreCompileInputs.cache
/HubFactory/obj/Debug/netcoreapp3.1/HubFactory.csproj.CopyComplete
/HubFactory/obj/Debug/netcoreapp3.1/HubFactory.csproj.AssemblyReference.cache
/HubFactory/obj/Debug/netcoreapp3.1/HubFactory.assets.cache
/HubFactory/obj/Debug/netcoreapp3.1/HubFactory.AssemblyInfoInputs.cache
/HubFactory/obj/Debug/netcoreapp3.1/HubFactory.AssemblyInfo.cs
/HubFactory/obj/Debug/netcoreapp3.1/apphost.exe
/HubFactory/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/HubFactory/obj/Debug/netcoreapp3.1
/HubFactory/obj
/HubFactory/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.Text.Encodings.Web.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.Security.Principal.Windows.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.Security.Cryptography.Cng.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.Security.AccessControl.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.Memory.Data.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.Formats.Asn1.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
/HubFactory/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
/HubFactory/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
/HubFactory/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
/HubFactory/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win-x86/native
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win-x64/native
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win-arm/native
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.AccessControl.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/System.Windows.Extensions.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/System.Drawing.Common.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Security.Cryptography.Cng.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/win/lib
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/System.Drawing.Common.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1
/HubFactory/bin/Debug/netcoreapp3.1/runtimes/unix/lib
/HubFactory/bin/Debug/netcoreapp3.1/runtimes
/HubFactory/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Rest.ClientRuntime.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Rest.ClientRuntime.Azure.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.AzureKeyVault.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Azure.Services.AppAuthentication.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Azure.KeyVault.WebKey.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.Azure.KeyVault.dll
/HubFactory/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/HubFactory/bin/Debug/netcoreapp3.1/IdentityServer4.AccessTokenValidation.dll
/HubFactory/bin/Debug/netcoreapp3.1/IdentityModel.dll
/HubFactory/bin/Debug/netcoreapp3.1/IdentityModel.AspNetCore.OAuth2Introspection.dll
/HubFactory/bin/Debug/netcoreapp3.1/ICICIConfig.json
/HubFactory/bin/Debug/netcoreapp3.1/ICICI.pdb
/HubFactory/bin/Debug/netcoreapp3.1/ICICI.dll
/HubFactory/bin/Debug/netcoreapp3.1/HubServices.pdb
/HubFactory/bin/Debug/netcoreapp3.1/HubServices.dll
/HubFactory/bin/Debug/netcoreapp3.1/HubLogger.pdb
/HubFactory/bin/Debug/netcoreapp3.1/HubLogger.dll
/HubFactory/bin/Debug/netcoreapp3.1/HubFactory.runtimeconfig.json
/HubFactory/bin/Debug/netcoreapp3.1/HubFactory.runtimeconfig.dev.json
/HubFactory/bin/Debug/netcoreapp3.1/HubFactory.pdb
/HubFactory/bin/Debug/netcoreapp3.1/HubFactory.exe
/HubFactory/bin/Debug/netcoreapp3.1/HubFactory.dll
/HubFactory/bin/Debug/netcoreapp3.1/HubFactory.deps.json
/HubFactory/bin/Debug/netcoreapp3.1/HUBDataFactory.pdb
/HubFactory/bin/Debug/netcoreapp3.1/HUBDataFactory.dll
/HubFactory/bin/Debug/netcoreapp3.1/FullertonConfig.json
/HubFactory/bin/Debug/netcoreapp3.1/Fullerton.pdb
/HubFactory/bin/Debug/netcoreapp3.1/Fullerton.dll
/HubFactory/bin/Debug/netcoreapp3.1/BusinessEntities.pdb
/HubFactory/bin/Debug/netcoreapp3.1/BusinessEntities.dll
/HubFactory/bin/Debug/netcoreapp3.1/BouncyCastle.Crypto.dll
/HubFactory/bin/Debug/netcoreapp3.1/Azure.Storage.Common.dll
/HubFactory/bin/Debug/netcoreapp3.1/Azure.Storage.Blobs.dll
/HubFactory/bin/Debug/netcoreapp3.1/Azure.Core.dll
/HubFactory/bin/Debug/netcoreapp3.1/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/HubFactory/bin/Debug/netcoreapp3.1/AutoMapper.Extensions.ExpressionMapping.dll
/HubFactory/bin/Debug/netcoreapp3.1/AutoMapper.dll
/HubFactory/bin/Debug/netcoreapp3.1/AutoMapper.Collection.EntityFrameworkCore.dll
/HubFactory/bin/Debug/netcoreapp3.1/AutoMapper.Collection.dll
/HubFactory/bin/Debug/netcoreapp3.1/appsettings.json
/HubFactory/bin/Debug/netcoreapp3.1/appsettings.Development.json
/HubFactory/bin/Debug/netcoreapp3.1/appsettings.CLOUD.json
/HubFactory/bin/Debug/netcoreapp3.1
/HubFactory
/HUBDataFactory/obj/project.nuget.cache
/HUBDataFactory/obj/project.assets.json
/HUBDataFactory/obj/HUBDataFactory.csproj.nuget.g.targets
/HUBDataFactory/obj/HUBDataFactory.csproj.nuget.g.props
/HUBDataFactory/obj/HUBDataFactory.csproj.nuget.dgspec.json
/HUBDataFactory/obj/Debug/netcoreapp3.1/HUBDataFactory.pdb
/HUBDataFactory/obj/Debug/netcoreapp3.1/HUBDataFactory.GeneratedMSBuildEditorConfig.editorconfig
/HUBDataFactory/obj/Debug/netcoreapp3.1/HUBDataFactory.dll
/HUBDataFactory/obj/Debug/netcoreapp3.1/HUBDataFactory.csproj.FileListAbsolute.txt
/HUBDataFactory/obj/Debug/netcoreapp3.1/HUBDataFactory.csproj.CoreCompileInputs.cache
/HUBDataFactory/obj/Debug/netcoreapp3.1/HUBDataFactory.assets.cache
/HUBDataFactory/obj/Debug/netcoreapp3.1/HUBDataFactory.AssemblyInfoInputs.cache
/HUBDataFactory/obj/Debug/netcoreapp3.1/HUBDataFactory.AssemblyInfo.cs
/HUBDataFactory/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/HUBDataFactory/obj/Debug/netcoreapp3.1
/HUBDataFactory/obj
/HUBDataFactory/bin/Debug/netcoreapp3.1/HUBDataFactory.pdb
/HUBDataFactory/bin/Debug/netcoreapp3.1/HUBDataFactory.dll
/HUBDataFactory/bin/Debug/netcoreapp3.1/HUBDataFactory.deps.json
/HUBDataFactory/bin/Debug/netcoreapp3.1
/HUBDataFactory
/Fullerton/obj/project.nuget.cache
/Fullerton/obj/project.assets.json
/Fullerton/obj/Fullerton.csproj.nuget.g.targets
/Fullerton/obj/Fullerton.csproj.nuget.g.props
/Fullerton/obj/Fullerton.csproj.nuget.dgspec.json
/Fullerton/obj/Debug/netcoreapp3.1/Fullerton.pdb
/Fullerton/obj/Debug/netcoreapp3.1/Fullerton.GeneratedMSBuildEditorConfig.editorconfig
/Fullerton/obj/Debug/netcoreapp3.1/Fullerton.dll
/Fullerton/obj/Debug/netcoreapp3.1/Fullerton.csproj.FileListAbsolute.txt
/Fullerton/obj/Debug/netcoreapp3.1/Fullerton.csproj.CoreCompileInputs.cache
/Fullerton/obj/Debug/netcoreapp3.1/Fullerton.csproj.CopyComplete
/Fullerton/obj/Debug/netcoreapp3.1/Fullerton.csproj.AssemblyReference.cache
/Fullerton/obj/Debug/netcoreapp3.1/Fullerton.assets.cache
/Fullerton/obj/Debug/netcoreapp3.1/Fullerton.AssemblyInfoInputs.cache
/Fullerton/obj/Debug/netcoreapp3.1/Fullerton.AssemblyInfo.cs
/Fullerton/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Fullerton/obj/Debug/netcoreapp3.1
/Fullerton/obj
/Fullerton/bin/Debug/netcoreapp3.1/HubServices.pdb
/Fullerton/bin/Debug/netcoreapp3.1/HubServices.dll
/Fullerton/bin/Debug/netcoreapp3.1/HubLogger.pdb
/Fullerton/bin/Debug/netcoreapp3.1/HubLogger.dll
/Fullerton/bin/Debug/netcoreapp3.1/HUBDataFactory.pdb
/Fullerton/bin/Debug/netcoreapp3.1/HUBDataFactory.dll
/Fullerton/bin/Debug/netcoreapp3.1/FullertonConfig.json
/Fullerton/bin/Debug/netcoreapp3.1/Fullerton.pdb
/Fullerton/bin/Debug/netcoreapp3.1/Fullerton.dll
/Fullerton/bin/Debug/netcoreapp3.1/Fullerton.deps.json
/Fullerton/bin/Debug/netcoreapp3.1/BusinessEntities.pdb
/Fullerton/bin/Debug/netcoreapp3.1/BusinessEntities.dll
/Fullerton/bin/Debug/netcoreapp3.1
/Fullerton
/BusinessEntities/obj/project.nuget.cache
/BusinessEntities/obj/project.assets.json
/BusinessEntities/obj/Debug/netcoreapp3.1/BusinessEntities.pdb
/BusinessEntities/obj/Debug/netcoreapp3.1/BusinessEntities.GeneratedMSBuildEditorConfig.editorconfig
/BusinessEntities/obj/Debug/netcoreapp3.1/BusinessEntities.dll
/BusinessEntities/obj/Debug/netcoreapp3.1/BusinessEntities.csproj.FileListAbsolute.txt
/BusinessEntities/obj/Debug/netcoreapp3.1/BusinessEntities.csproj.CoreCompileInputs.cache
/BusinessEntities/obj/Debug/netcoreapp3.1/BusinessEntities.csproj.AssemblyReference.cache
/BusinessEntities/obj/Debug/netcoreapp3.1/BusinessEntities.assets.cache
/BusinessEntities/obj/Debug/netcoreapp3.1/BusinessEntities.AssemblyInfoInputs.cache
/BusinessEntities/obj/Debug/netcoreapp3.1/BusinessEntities.AssemblyInfo.cs
/BusinessEntities/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/BusinessEntities/obj/Debug/netcoreapp3.1
/BusinessEntities/obj/BusinessEntities.csproj.nuget.g.targets
/BusinessEntities/obj/BusinessEntities.csproj.nuget.g.props
/BusinessEntities/obj/BusinessEntities.csproj.nuget.dgspec.json
/BusinessEntities/obj
/BusinessEntities/bin/Debug/netcoreapp3.1/BusinessEntities.pdb
/BusinessEntities/bin/Debug/netcoreapp3.1/BusinessEntities.dll
/BusinessEntities/bin/Debug/netcoreapp3.1/BusinessEntities.deps.json
/BusinessEntities/bin/Debug/netcoreapp3.1
/BusinessEntities
/AtyatiKarza/bin/Debug/netcoreapp3.1
/AtyatiKarza/obj
/AtyatiKarza/bin/Release/netcoreapp3.1
/LeadInfo/obj
/LeadInfo/bin/Debug/netcoreapp3.1
/LeadInfo/bin/Release/netcoreapp3.1
/HUB.Mediator/obj
/HUB.Mediator/bin
/SIDBI/bin
/SIDBI/obj
/Federal/obj
/Federal/bin/Debug/netcoreapp3.1
/FEDERAL/bin/Release/netcoreapp3.1
